<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h1 layout-align-gt-sm="center">
            Hello World
        </h1>

        <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>

        <md-button class="md-icon-button">
            <md-icon class="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp md--sidenav" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menú</h1>
    </md-toolbar>
    <md-content layout-padding>
        <div ng-repeat="item in menu">
            <a href="{{item.url}}">
                <md-icon class="material-icons">{{item.icon}}</md-icon>
                {{item.name}}</a>
        </div>
    </md-content>
</md-sidenav>